<header class="navbar-desktop hide-md animated slideInDown">
  <section class="navbar-section">
    {{#link-to "home" href="{{view.href}}" class="btn btn-link"}}
      {{material-icon "home" class="ico ico-left-sm ico-lg"}}
    {{/link-to}}
    {{#link-to "blog" href="{{view.href}}" class="btn btn-link"}}
      {{material-icon "question_answer" class="ico ico-left-sm ico-lg"}} Blog
    {{/link-to}}
    {{#link-to "projects" href="{{view.href}}" class="btn btn-link"}}
      {{material-icon "code" class="ico ico-left-sm ico-lg"}} Projects
    {{/link-to}}
    {{#link-to "cv" href="{{view.href}}" class="btn btn-link"}}
      {{material-icon "subject" class="ico ico-left-sm ico-lg"}} CV
    {{/link-to}}
  </section>
</header>

<header class="navbar-mobile show-md animated slideInDown">
  <section class="navbar-section">
    {{#link-to "home" href="{{view.href}}" class="btn btn-link"}}
      {{material-icon "home" class="ico md-16"}}
    {{/link-to}}
    {{#link-to "blog" href="{{view.href}}" class="btn btn-link"}}
      {{material-icon "question_answer" class="ico md-16"}} Blog
    {{/link-to}}
    {{#link-to "projects" href="{{view.href}}" class="btn btn-link"}}
      {{material-icon "code" class="ico md-16"}} Projects
    {{/link-to}}
    {{#link-to "cv" href="{{view.href}}" class="btn btn-link"}}
      {{material-icon "subject" class="ico md-16"}} CV
    {{/link-to}}
  </section>
  <section class="navbar-section">
    <a href="https:/github.com/neetjn" class="btn btn-link">
      {{material-icon "link" class="ico md-16"}} Github
    </a>
    <a href="https://www.linkedin.com/in/john-nolette-69ba72132/" class="btn btn-link">
      {{material-icon "link" class="ico md-16"}} Linkedin
    </a>
  </section>
</header>

<div class="news-banner" style="display: none">
  <div class="container">
    <h1 class="news-title animated zoomIn text-center">John Nolette</h1>
  </div>
</div>